:root {
  --heading-font: "Zilla Slab Highlight", cursive;
  --body-font: "Fira Code", monospace;
  --primary-color: #202020;
  --secondary-color: #282323;
  --button-radius: 50px;
  --button-padding: 20px 30px;
}

h1 {
  font-family: var(--heading-font);
  font-size: 96px;
}

h3 {
  font-size: 50px;
  text-align: center;
}

body {
  font-family: var(--body-font);
  background: var(--primary-color);
}

footer {
  background: var(--secondary-color);
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 30px 0px 10px;
}

.header-wrapper {
  text-align: center;
  padding: 80px 0px 100px;
  color: #fff;
}

.index-heading {
  font-family: var(--body-font);
}

p.index-heading {
  font-size: 36px;
}

h2.index-heading {
  font-size: 24px;
}

.project-button:hover {
  color: var(--primary-color);
}

.body-wrapper {
  color: #fff;
}

.project-images {
  border-radius: 4px;
}

.body-paragraph {
  line-height: 2;
  padding: 0 30px;
}

.project-button {
  color: var(--primary-color);
  text-decoration: none;
  background: #fff;
  border-radius: var(--button-radius);
  padding: var(--button-padding);
}

.about-me-image {
  border-radius: 4px;
}

.about-section {
  color: #fff;
  padding: 30px;
}

.about-me-content {
  padding-top: 50px;
}

.about-section h1 {
  font-size: 64px;
}

.about-section h2 {
  font-size: 18px;
}

.about-me-icons {
  font-size: 20px;
}

.footer-code-link {
  font-size: 16px;
  text-align: center;
}

@media (max-width: 700px) {
  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 38px;
  }

  .body-paragraph {
    text-align: center;
  }

  .about-section h1 {
    font-size: 50px;
  }

  .about-me-icons {
    text-align: center;
  }
}
